<!DOCTYPE html>
<html>
<head>
  <title>Adapi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if request.path != "/users/edit" %>
  <div id="user_name">
  <% if current_user.present? %>
    <div>
    Signed in as
    <strong>
    <%= current_user.email %>
    </strong>
    <%= image_tag current_user.photo.url(:thumb) %>
    <%= link_to 'My Account', edit_user_registration_path, :class => "btn btn-large btn-success" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-large btn-danger" %>
    
    </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<% end %>


<%= yield %>

</body>
</html>
